/* 
    Created on : 28-mar-2017, 10.53.59
    Author     : Mario Taccori
*/

body
{
    background-color: #3a506b;
    font: 17px "Times New Roman", Arial, sans-serif;
    margin: 0px;
}

h1
{
    font-weight: bold;
    font-style: italic;
}

h2
{
    font-weight: bold;
    margin-top: 80px;
    font-style: italic;
}

h3
{
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
}

h4
{
    margin: 0px;
}

input:not(.necessaryField)
{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);    
}

input:focus:not(.necessaryField)
{
    box-shadow: 0 0 10px green;
}

input.necessaryField
{
    box-shadow: 0 0 8px red;    
}

textarea:focus:not(.necessaryField)
{
    box-shadow: 0 0 10px green;
}

textarea.necessaryField
{
    box-shadow: 0 0 8px red;    
}

input.necessaryField:focus
{
    box-shadow: 0 0 8px red;    
}

nav
{
    width: 79%;
}

nav ol, nav li
{
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
}

nav ol
{
    border: 0px;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    font-size: 0;
}

div#nuovoPostDiv
{
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    border: solid 3px #3a506b;
    margin-bottom: 20px;
}

div#nuovoPostDiv form#formNuovoPost
{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#nuovoPostDiv #newPostForm
{
    display: inline-block;
}

div#nuovoPostDiv #newPostForm button, #formDatiProfilo button
{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    height: 30px;
    width: 100px;
    font-weight: bold;
    color: #BBBBBB;
    background-color: #3a506b;
    margin-bottom: 10px;
}

div#nuovoPostDiv #riepilogoDiv, div#nuovoPostDiv #previewPostDiv
{
    margin-left: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

div#nuovoPostDiv #choiceDiv 
{
    text-align: center;
}

div#nuovoPostDiv #choiceDiv > div
{
    display: inline-block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

div#nuovoPostDiv form#formNuovoPost *
{
    margin-left: auto;
    margin-right: auto;
}

div#nuovoPostDiv form#formNuovoPost #inputsDiv div:first-child label::before
{
    content: url("../Assets/ICONS/noProfilePic_icona.png");
    vertical-align: -25%;
    margin-right: 2px;
}

div#nuovoPostDiv form#formNuovoPost #inputsDiv div:nth-child(2) label::before
{
    content: url("../Assets/ICONS/attach_icona.png");
    vertical-align: -25%;
    margin-right: 2px;    
}

div#nuovoPostDiv #previewPostDiv div.autorePost, div#nuovoPostDiv #previewPostDiv div.profilePic
{
    display: inline-block;
    float: left;
    margin-top: 10px;
}

div#nuovoPostDiv #previewPostDiv div.datiAutore, div#nuovoPostDiv #previewPostDiv div.contenutoPost
{
    margin-left: 10px;
    margin-right: 10px;
}

div#nuovoPostDiv #previewPostDiv div.profilePic img:not(.defaultPic)
{
    height: auto; 
    width: auto; 
    max-width: 80px; 
    max-height: 80px;    
    margin-right: 20px;   
}

div#nuovoPostDiv #previewPostDiv div.profilePic img.defaultPic
{
    height: 80px; 
    width: 80px;
    margin-right: 20px;   
}

div#nuovoPostDiv #previewPostDiv .allegatoPost img
{
    height: auto; 
    width: auto; 
    max-width: 80%; 
    max-height: 80%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div#nuovoPostDiv #previewPostDiv > div
{
    width: 90%;
    border: solid 1px black;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

div#nuovoPostDiv #previewPostDiv .allegatoPost
{
    word-wrap: break-word;
}

.picPresentazione
{
    display: inline-block;
    height: 60px; 
    width: 60px;
    margin: 0px;
    margin-left: 20px; 
    margin-right: 20px;
}

#divForm
{
    float: left;
    width: 50%;
    min-width: 480px;
}

#formDatiProfilo
{
    width: 100%;
}

#formDatiProfilo > div
{
    margin-bottom: 10px;
}

#formDatiProfilo label
{
    display: inline-block;
    width: 120px;
    vertical-align: middle;
    margin-right: 10px;
}

#formDatiProfilo textarea, #formDatiProfilo input
{
    width: 300px;
    height: 20px;
    vertical-align: middle;
}

#formDatiProfilo button
{
    width: 440px;
}

.clear
{
    clear: both;
}

#sidebar1
{
    width: 20.5%;
    float: left;
    margin: 0px;
    background-color: white;
    min-height: 500px;
    border-right: solid 2px #7d84b2;
    border-bottom: solid 2px #7d84b2; 
    padding-bottom: 20px;
}

#sidebar1 div:first-child
{
    margin-top: 55px;
}

#sidebar1 div
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#sidebar1 ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#sidebar1 ul li
{
    margin-bottom: 3px;
}

#sidebar1 ul li a .friendPic, #sidebar1 ul li a .groupIcon
{
    display: inline-block;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#sidebar1 ul li a:hover .friendPic, #sidebar1 ul li a:hover .groupIcon
{
    width: 35px;
    height: 35px;    
}

#sidebar1 ul li
{
    height: 30px;
    box-sizing: border-box;
}

#sidebar1 ul li a:hover
{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

#sidebar1 ul li a:visited
{
    text-decoration: none;
    color: black;
}

#sidebar1 #searchBar
{
    width: 100%;
}

#sidebar1 #searchBar input
{
    display: block;
    width: 80%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar1 div#elencoPersone
{
    height: 300px;
    overflow: scroll;
}

#sidebar1 div#elencoGruppi
{
    height: 300px;
    overflow: scroll;
}

#sidebar1 #elencoGruppi h4::after
{
    content: url(../Assets/ICONS/gruppi_icona.png);
    vertical-align: -25%;
    margin-left: 10px;
}

#divBody
{
    float: left;
    width: 79%;
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: white;
    margin: auto;
    border-right: solid 2px #7d84b2; 
    border-bottom: solid 2px #7d84b2; 
    min-height: 440px;
}

#newFriendshipForm, #newSubscriptionForm
{
    padding-top: 10%;
    display: block;
    width: 50%;
    margin: auto;
}

#newFriendshipForm button, #newSubscriptionForm button
{
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: auto; 
}

#divBodyLogin
{
    width: 99%;
    height: 95vh;
    min-width: 480px;

    background-color: white;
    
    margin: 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-right: solid 2px #7d84b2; 
    border-bottom: solid 2px #7d84b2; 
}

#divBody > div:not(#presentazione):not(#posts):not(#nuovoPostDiv):not(#notificaNuovoPost)
{
    width: 90%;
    margin: auto auto;
    padding: 0px;
    padding-top: 60px;
    padding-bottom: 20px;        
    border: 0px;
}

#divBody a:link, #divBody a:visited
{
    color: black;
    text-decoration: none;
    font-style: italic;
}

#divBody a:hover
{
    font-weight: bold;
    text-decoration: underline;
}

.headerBar
{
    background-color: inherit;
    width: 100%;
    min-width: 800px;
    position: fixed;
    top: 0px;
}

header, nav
{
    float: left;
    border-bottom: solid 2px #7d84b2; 
    border-top: solid 2px #7d84b2; 
}

#logo
{
    margin: 0px;
    margin-right: 5px;
    padding: 0px;
    border: 0px;
    display: inline-block;
    width: 40px; 
    height: 100%;
    vertical-align: middle;
}

#sommarioDiv 
{
    width: 30%;
    min-width: 240px;
    margin: 0px;
    padding: 0px;
    border: 1.2px;
    border-style: solid;
    border-color: black;
}

#loginForm
{
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#loginForm *
{
    display: block;
    margin: auto;
}

#loginForm label
{
    font: 20px "Times New Roman", Arial, sans-serif;
    width: 80%;
}

#loginForm label:after
{
    content: '\A';
    white-space: pre;
}

#loginForm input, #loginForm button
{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.notificationDiv
{
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    width: 60%;
}

.notificationDiv > p
{
    text-align: center;
    text-decoration: underline;
    color: red;    
}

.notificationDiv > p:before
{
    content: url("../Assets/ICONS/error_icona.png");
    vertical-align: -25%;
    margin-right: 2px;    
}

.notificationDiv ul.notificationList
{
    list-style-type: square;
    color: red;
}

div#notificaNuovoPost
{
    margin: 0px;
    padding: 0px;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    text-align: center;
    margin-bottom: 15px;
}

#loginFormDiv
{
    position: relative;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    width: 50%;
    max-width: 270px;
}

#loginFormDiv > div:first-child *
{
    display: inline-block;
    vertical-align: middle;
}

#loginFormDiv > div:first-child h1
{
    margin-left: 10px;
}

#posts div.autorePost, #posts div.profilePic
{
    display: inline-block;
    float: left;
    margin-top: 10px;
}

#posts div.datiAutore, #posts div.contenutoPost
{
    margin-left: 10px;
    margin-right: 10px;
}

#posts div.profilePic img:not(.defaultPic)
{
    
    height: auto; 
    width: auto; 
    max-width: 80px; 
    max-height: 80px;    
    margin-right: 20px;   
}

#posts div.profilePic img.defaultPic
{  
    height: 80px; 
    width: 80px;
    margin-right: 20px;   
}

#posts .allegatoPost img
{
    height: auto; 
    width: auto; 
    max-width: 80%; 
    max-height: 80%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#posts .allegatoPost
{
    word-wrap: break-word;
}

#posts .postTimeStamp
{
    float: right;
    font-size: 14px;
    font-style: italic;
    margin-right: 5px;
    margin-top: 10px;
    display: block;
    width: 150px;
}

img.deleteIcon
{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    vertical-align: -15%;
}

a.deleteLink
{
    display: inline-block;
    float: right;
}

a.deleteLink:after
{
    content: "\A";
    white-space: pre;
}

#posts > div
{
    width: 90%;
    border: solid 1px black;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

div#presentazione
{
    margin-bottom: 20px;
    width: 99.5%;
    border: solid 1px black;
    height: 60px;
}

div#presentazione div
{
    display: inline-block;
    height: 20px;
    vertical-align: 110%;
}

div#presentazione div p
{
    display: inline-block;
    margin: 0px;
    margin-left: 10px;  
}

#divBody div#profilePic
{
    display: inline-block;
    width: 150px;
    margin: 0px;
    margin-bottom: 15px;
    margin-right: 20px;
    float: left;
}
    
#title
{
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding: 0px;
    border: 0px;
    line-height: 40px;
    display: inline-block;
    font: 20px/40px "Times New Roman", Arial, sans-serif;
    font-weight: bold;
    color: #BBBBBB;
}

@media only screen and (min-width: 1024px)
{
    header
    {
        width: 20.5%;
        height: 40px;
        border-right: solid 2px #7d84b2; 
    }

    #title
    {
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        padding: 0px;
        border: 0px;
        min-width: 30px;
        line-height: 40px;
        display: inline-block;
        font: 20px/40px "Times New Roman", Arial, sans-serif;
        font-weight: bold;
        color: #BBBBBB;
    }

    
    nav ol li a
    {
        line-height: 40px;
        display: inline-block;
    }

    nav ol li a:link, nav ol li a:visited
    {
        text-decoration: none;
        color: #BBBBBB;
    }

    nav ol li a:hover
    {
        text-decoration: underline;
        color: #BBBBBB;
    }
    
    nav ol li a img
    {
        display: none;
    }
    
    nav li:not(#loggedInLi)
    {
        font-size: 14px;
        background-color: #445E93;
        width: 100px;
        height: 40px;
        text-align: center;
        border-right: solid 2px #7d84b2;
    }  

    nav li:last-child:not(loggedInLi)
    {
        float:right;
        border-left: solid 2px #7d84b2;
    }
  
    nav #loggedInLi
    {
        float: right;
        border-left: solid 2px #7d84b2;
        width: 150px;
        background-color: #445E93;
    }

    nav li:first-child
    {
        margin-left: 1px;
    }

    nav li:not(#loggedInLi).active
    {
        background-color: #0a214f; 
    }  
    
    nav li #loggedInDiv
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    nav li #loggedInDiv > img
    {
        float: left;
        height: 40px;
        width: 45px;
        margin: 0px;
        padding: 0px;
    }
      
    nav li #loggedInDiv *:not(img)
    {
        float: right;
        display: block;
        margin: 0px;
        padding: 0px;
        border: 0px;
        font-size: 12px;
    }
    
    nav li #loggedInDiv p
    {
        display: block;
        text-align: center;
        color: darkgrey;
        line-height: 20px;
        height: 20px;      
        width: 100px;
    }
    
    nav li #loggedInDiv #logoutLink
    {
        display: block; 
        text-decoration: underline;
        text-align: center;
        line-height: 15px;
        height: 20px;
        width: 100px;
    }
        
    header, #sidebar1
    {
        min-width: 150px;
    }
    
    div#nuovoPostDiv form#formNuovoPost #inputsDiv, div#nuovoPostDiv form#formNuovoPost #radiosDiv, div#nuovoPostDiv form#formNuovoPost #buttonDiv
    {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    
    div#nuovoPostDiv form#formNuovoPost div.filler
    {
        display: inline-block;
        width: 22px;
        height: 10px;
    }

    div#nuovoPostDiv form#formNuovoPost #inputsDiv input
    {
        display: inline-block;
        width: 400px;    
        margin-top: 5px;
    }

    div#nuovoPostDiv form#formNuovoPost button
    {
        padding: 0px;
        display: inline-block;
        width: 406px;    
        margin-top: 5px;    
    }

    div#nuovoPostDiv form#formNuovoPost #radiosDiv > div:not(.filler)
    {
        display: inline-block;
        width: 372.75px;
        margin-left: auto;
        margin-right: auto;
    }

    div#nuovoPostDiv form#formNuovoPost #radiosDiv label
    {
        margin-right: 5%;
    }
    
    #sidebar1 ul li a
    {
        font-size: 16px;
        text-decoration: none;
        color: black;
    }

    
} /* FINE 1024min */

@media only screen and (min-width: 481px) and (max-width: 1023px)
{
    header
    {
        width: 20.5%;
        height: 40px;
        border-right: solid 2px #7d84b2; 
        min-width: 150px;
    }
        
    #sidebar1
    {
        min-width: 165px;
    }
    
    body
    {
        min-width: 805px;
    }
    
    nav
    {
        min-width: 450px;
    }
    
    nav ol li a
    {
        line-height: 40px;
        display: inline-block;
    }

    nav ol li a:link, nav ol li a:visited
    {
        text-decoration: none;
        color: #BBBBBB;
    }

    nav ol li a:hover
    {
        text-decoration: underline;
        color: #BBBBBB;
    }
    
    nav ol li a img
    {
        display: none;
    }
    
    nav li:not(#loggedInLi)
    {
        font-size: 14px;
        background-color: #445E93;
        width: 80px;
        height: 40px;
        text-align: center;
        border-right: solid 2px #7d84b2;
    }  

    nav li:last-child:not(loggedInLi)
    {
        float:right;
        border-left: solid 2px #7d84b2;
    }
  
    nav #loggedInLi
    {
        float:right;
        border-left: solid 2px #7d84b2;
        width: 150px;
        background-color: #445E93;
    }

    nav li:first-child
    {
        margin-left: 1px;
    }

    nav li:not(#loggedInLi).active
    {
        background-color: #0a214f; 
    }  
    
    nav li #loggedInDiv
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    nav li #loggedInDiv > img
    {
        float: left;
        height: 40px;
        width: 45px;
        margin: 0px;
        padding: 0px;
    }
    
    nav li #loggedInDiv *:not(img)
    {
        float: right;
        display: block;
        margin: 0px;
        padding: 0px;
        border: 0px;
        font-size: 12px;
    }
    
    nav li #loggedInDiv p
    {
        display: block;
        text-align: center;
        color: darkgrey;
        line-height: 20px;
        height: 20px;      
        width: 100px;
    }
    
    nav li #loggedInDiv #logoutLink
    {
        display: block; 
        text-decoration: underline;
        text-align: center;
        line-height: 15px;
        height: 20px;
        width: 100px;
    }

    div#nuovoPostDiv form#formNuovoPost #inputsDiv, div#nuovoPostDiv form#formNuovoPost #radiosDiv, div#nuovoPostDiv form#formNuovoPost #buttonDiv
    {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    
    div#nuovoPostDiv form#formNuovoPost div.filler
    {
        display: inline-block;
        width: 22px;
        height: 10px;
    }

    div#nuovoPostDiv form#formNuovoPost #inputsDiv input
    {
        display: inline-block;
        width: 400px;    
        margin-top: 5px;
    }

    div#nuovoPostDiv form#formNuovoPost button
    {
        padding: 0px;
        display: inline-block;
        width: 406px;    
        margin-top: 5px;    
    }

    div#nuovoPostDiv form#formNuovoPost #radiosDiv > div:not(.filler)
    {
        display: inline-block;
        width: 372.75px;
        margin-left: auto;
        margin-right: auto;
    }

    div#nuovoPostDiv form#formNuovoPost #radiosDiv label
    {
        margin-right: 5%;
    }
    
    #sidebar1 ul li a
    {
        font-size: 12px;
        text-decoration: none;
        color: black;
       
    }

    
    
} /* FINE dim intermedie */

@media only screen and (max-width: 480px)
{
    body
    {
        min-width: 480px;
    }
    
    .headerBar
    {
        width: 480px;
        min-width: 470px;
    }
    
    #divBody
    {
        width: 480px;
        padding-top: 100px;
    }
    
    header
    {
        width: 100%;
        min-width: 250px;
        height: 40px;
        border-right: solid 2px #7d84b2; 
        border-bottom: 0px;            
    }

    #sidebar1
    {
        display: none;
    }
    
    nav
    {
        width: 100%;
        height: 40px;
    } 
    
    #divForm
    {
        margin-left: 0px;
        margin-top: 15px;
    }
       
    nav ol li a img
    {
        display: block;
        width: 35px;
        height: 100%;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    
    nav ol li a
    {
        height: 100%;
        font-size: 0px;
        vertical-align: middle;
    }
    
    nav li
    {
        font-size: 14px;
        background-color: #445E93;
        width: 50px;
        height: 40px;
        text-align: center;
        border-right: solid 2px #7d84b2;
    }  

    nav li:last-child
    {
        float:right;
        border-left: solid 2px #7d84b2;
        border-right: none;
    }

    nav li:first-child
    {
        margin-left: 1px;
    }

    nav li.active
    {
        background-color: #0a214f; 
    }  
    
    nav li #loggedInDiv
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    nav li #loggedInDiv a img
    {
        display: block;
        width: 35px;
        height: 100%;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    
    nav li #loggedInDiv > img
    {
        display: none;
    }
    
    nav li #loggedInDiv p
    {
        display: none;
    }

    div#nuovoPostDiv form#formNuovoPost #inputsDiv
    {
        width: 92.5%;
        margin-left: auto;
        margin-right: auto;
    }

    div#nuovoPostDiv form#formNuovoPost #inputsDiv input
    {
        display: inline-block;
        width: 85%;    
        margin-top: 5px;
    }

    div#nuovoPostDiv form#formNuovoPost button
    {
        display: block;
        width: 81%;    
        margin-top: 5px;    
    }

    div#nuovoPostDiv form#formNuovoPost #radiosDiv > div
    {
        width: 81%;
        margin-left: auto;
        margin-right: auto;
    }

    div#nuovoPostDiv form#formNuovoPost #radiosDiv label
    {
        margin-right: 5%;
    }
    
    div#nuovoPostDiv form#formNuovoPost div.filler
    {
        display: none;
    }
}